<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLinkActive="active" routerLink="/home">Icefire</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a routerLink="/list">Kontaktide nimekiri</a></li>
                    <li routerLinkActive="active"><a routerLink="/add">Kontakti lisamine</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>

<main class="container">
    <router-outlet></router-outlet>
    <hr>
</main>

<footer class="container">
    <p>Kert Kukk 2017</p>
</footer>