<div class="page-header">
    <h1>Kontaktide nimekiri</h1>
</div>
<div class="list-group">
    <ng-template [ngIf]="contacts.length == 0">
        <p class="lead">Hetkel ei ole kontaktide nimekirjas ühtegi kontakti. <span *ngIf="location !=='/home'">Uue kontakti lisamiseks vajuta allolevale nupule.</span></p>
        <p *ngIf="location !=='/home'"><a class="btn btn-primary btn-lg" routerLink="/add" role="button">Lisa uus kontakt</a></p>
    </ng-template>
    <a *ngFor="let contact of contacts" routerLink="/view/{{contact.id}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{contact.fullName}}</h4>
        <p class="list-group-item-text">Telefon: {{contact.phone}}</p>
    </a>
</div>