<div class="jumbotron" aria-labelledby="marketing message">
    <h1>Tere tulemast!</h1>
    <p>See on kontaktide nimekirja rakendus. Uue kontakti lisamiseks vajuta allolevale nupule.</p>
    <p><a class="btn btn-primary btn-lg" routerLink="/add" role="button">Lisa uus kontakt</a></p>
</div>
<list></list>