<ng-template [ngIf]="currentRoute == routes.add">
    <div class="page-header">
        <h1>Lisa uus kontakt</h1>
    </div>
</ng-template>
<ng-template [ngIf]="currentRoute == routes.view">
    <div class="page-header">
        <h1>Kontaktandmed</h1>
    </div>
</ng-template>
<ng-template [ngIf]="currentRoute == routes.edit">
    <div class="page-header">
        <h1>Muuda kontaktandmeid</h1>
    </div>
</ng-template>
<form [formGroup]="contactForm" (ngSubmit)="onSubmitAddNewContact()" aria-labelledby="contact">
    <div class="form-group"
         [ngClass]="{'has-error': (contactForm.get('fullname').touched || contactForm.get('fullname').dirty) && contactForm.get('fullname').invalid}">
        <label for="fullname">Ees- ja perenimi</label>
        <input nullValue id="fullname" class="form-control" type="text" formControlName="fullname" aria-labelledby="contact name">
        <span class="help-block"
              *ngIf="(contactForm.get('fullname').touched || contactForm.get('fullname').dirty) && contactForm.get('fullname').invalid">
            Palun sisesta korrektne ees- ja perenimi!
        </span>
    </div>
    <div class="form-group"
         [ngClass]="{'has-error': (contactForm.get('phone').touched || contactForm.get('phone').dirty) && contactForm.get('phone').invalid}">
        <label for="phone">Telefon</label>
        <input nullValue id="phone" class="form-control" type="text" formControlName="phone" aria-labelledby="contact phone">
        <span class="help-block"
              *ngIf="(contactForm.get('phone').touched || contactForm.get('phone').dirty) && contactForm.get('phone').invalid">
            Palun sisesta korrektne telefoninumber!
        </span>
    </div>
    <div class="form-group"
         [ngClass]="{'has-error': (contactForm.get('mail').touched || contactForm.get('mail').dirty) && contactForm.get('mail').invalid}">
        <label for="mail">E-post</label>
        <input nullValue id="mail" class="form-control" type="text" formControlName="mail" aria-labelledby="contact mail">
        <span class="help-block"
              *ngIf="(contactForm.get('mail').touched || contactForm.get('mail').dirty) && contactForm.get('mail').invalid">
            Palun sisesta korrektne e-posti aadress!
        </span>
    </div>
    <div formArrayName="addresses">
        <div [formGroupName]="0">
            <div class="form-group"
                 [ngClass]="{'has-error': (contactForm.get('addresses').get('0').get('street').touched || contactForm.get('addresses').get('0').get('street').dirty) && contactForm.get('addresses').get('0').get('street').invalid}">
                <label for="street">Tänav, maja, korter</label>
                <input nullValue id="street" class="form-control" type="text" formControlName="street" aria-labelledby="contact street 0">
                <span class="help-block"
                      *ngIf="(contactForm.get('addresses').get('0').get('street').touched || contactForm.get('addresses').get('0').get('street').dirty) && contactForm.get('addresses').get('0').get('street').invalid">
                    Palun sisesta tänav ja maja või korteri aadress!
                </span>
            </div>
            <div class="form-group">
                <label for="village">Küla/alevik</label>
                <input nullValue id="village" class="form-control" type="text" formControlName="village" aria-labelledby="contact village 0">
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error': contactForm.get('addresses').get('0').get('city').touched && contactForm.get('addresses').get('0').get('city').invalid}">
                <label for="city">Linn/maakond</label>
                <select class="form-control" id="city" formControlName="city" aria-labelledby="contact city 0">
                    <option value="null" disabled="true" [selected]="true">Vali</option>
                    <option>Tallinn</option>
                    <option>Tartu</option>
                    <option>Pärnu</option>
                    <option>Narva</option>
                </select>
                <span class="help-block"
                      *ngIf="contactForm.get('addresses').get('0').get('city').touched && contactForm.get('addresses').get('0').get('city').invalid">
                    Palun vali linn või maakond!
                </span>
            </div>
        </div>
    </div>
    <div class="radio">
        <label for="deliveryOption1">
            <input type="radio" id="deliveryOption1" [disabled]="isDisabled"
                   [(ngModel)]="deliveryOption"
                   name="deliveryOption" value="same" [ngModelOptions]="{standalone: true}"
                   (ngModelChange)="onDeliveryOptionChange()">
            Kohaletoimetamine samale aadressile
        </label>
    </div>
    <div class="radio">
        <label for="deliveryOption2">
            <input type="radio" id="deliveryOption2" [disabled]="isDisabled"
                   [(ngModel)]="deliveryOption"
                   name="deliveryOption" value="different"
                   [ngModelOptions]="{standalone: true}"
                   (ngModelChange)="onDeliveryOptionChange()">
            Kohaletoimetamine erinevale aadressile
        </label>
    </div>
    <div *ngIf="deliveryOption == 'different'">
        <div formArrayName="addresses">
            <div [formGroupName]="1">
                <div class="form-group"
                     [ngClass]="{'has-error': (contactForm.get('addresses').get('1').get('street').touched || contactForm.get('addresses').get('1').get('street').dirty) && contactForm.get('addresses').get('1').get('street').invalid}">
                    <label for="street1">Tänav, maja, korter</label>
                    <input nullValue id="street1" class="form-control" type="text" formControlName="street" aria-labelledby="contact street 1">
                    <span class="help-block"
                          *ngIf="(contactForm.get('addresses').get('1').get('street').touched || contactForm.get('addresses').get('1').get('street').dirty) && contactForm.get('addresses').get('1').get('street').invalid">
                        Palun sisesta tänav ja maja või korteri aadress!
                    </span>
                </div>
                <div class="form-group">
                    <label for="village1">Küla/alevik</label>
                    <input nullValue id="village1" class="form-control" type="text" formControlName="village" aria-labelledby="contact phone 1">
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': contactForm.get('addresses').get('1').get('city').touched && contactForm.get('addresses').get('1').get('city').invalid}">
                    <label for="city1">Linn/maakond</label>
                    <select class="form-control" id="city1" formControlName="city" aria-labelledby="contact city 1">
                        <option value="null" disabled="true" [selected]="true">Vali</option>
                        <option>Tallinn</option>
                        <option>Tartu</option>
                        <option>Pärnu</option>
                        <option>Narva</option>
                    </select>
                    <span class="help-block"
                          *ngIf="contactForm.get('addresses').get('1').get('city').touched && contactForm.get('addresses').get('1').get('city').invalid">
                        Palun vali linn või maakond!
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input id="awareOfTerms" type="checkbox" formControlName="awareofterms" aria-labelledby="contact is aware of terms">
        <label for="awareOfTerms">Olen tingimustega tutvunud</label>
    </div>
    <ng-template [ngIf]="currentRoute == routes.add">
        <button class="btn btn-default" type="submit" [disabled]="contactForm.enabled && !contactForm.valid">Salvesta
        </button>
    </ng-template>
    <ng-template [ngIf]="currentRoute == routes.view">
        <button class="btn btn-default" type="button" (click)="goToChange()">Muuda</button>
    </ng-template>
    <ng-template [ngIf]="currentRoute == routes.edit">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteContactModal">
            Kustuta Kontakt
        </button>
        <button class="btn btn-default" type="submit" [disabled]="contactForm.enabled && !contactForm.valid">
            Salvesta Muudatused
        </button>
    </ng-template>
</form>

<ng-template [ngIf]="currentRoute == routes.edit">
    <!-- Modal -->
    <div class="modal fade" id="deleteContactModal" role="dialog" aria-labelledby="delete contact header">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Kustuta Kontakt</h4>
                </div>
                <div class="modal-body">
                    <p>Kas oled kindel, et soovid kontakti kustutada?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteContact()">
                        Jah
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ei</button>
                </div>
            </div>

        </div>
    </div>
</ng-template>
